.wrapper.clearfix
  .flash-box
    グループを作成しました。
  .chat-side
    .side-header
      %p.side-header__box__user-name ishii
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          %a{:href => "/groups/new"}
            %i.fa.fa-edit
        %li.side-header__box__menu__edit-user
          %a{:href => "/users/1065/edit"}
            %i.fa.fa-cog  
    .groups
      %a{:href => "/groups/2408/messages"}
      .group
        %p.group__group-name tt
        %p.group__latest-message まだメッセージがありません
    
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group{"data-group_id" => "2375"}
          starrrrrrrrrrrrrrrr
        .main-header__left-box__member-box
          %p Member：
          %ul.main-header__left-box__member-list 
            %li.main-header__left-box__member-list__member 
              ito.y
            %li.main-header__left-box__member-list__member 
              ito.y
            %li.main-header__left-box__member-list__member 
              ito.y
            %li.main-header__left-box__member-list__member 
              ito.y
      %a.main-header__edit-btn{:href => "/groups/2375/edit"}
        Edit
      
    .messages
      .message{"data-message_id" => "6280"}
        .message__upper-info
          %p.message__upper-info__talker hiroki
          %p.message__upper-info__date 2019/07/12(Fri) 20:09:03
          %p.message__text test
    .form
      %form#new_message.new_message{"accept-charset" => "UTF-8", :action => "/groups/2375/messages", :enctype => "multipart/form-data", :method => "post"}
        .input-box
          %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
          %label.input-box__image{:for => "message_image"}
            %i.fa.fa-image
            %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}/
        %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/